@model SimpleCrudDemo.Models.Student

<h2>Add Student</h2>
<form method="post">
    <div class="form-group">
        <label>Roll No.</label>
        <input type="text" name="StudId" class="form-control" />
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Grade</label>
        <input type="text" name="Grade" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>
